{% extends 'customer/base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center mb-4">Contact Us</h1>
    
    <div class="row justify-content-center">
        <!-- Contact Information -->
        <div class="col-md-8">
            <div class="card shadow-lg p-4 mb-4">
                <h4 class="text-center mb-4">We’d Love to Hear From You!</h4>
                
                <div class="mb-3">
                    <p><strong>Phone:</strong> 
                        <a href="tel:+919253033586" class="btn btn-primary btn-block">Call Us: +91 92530 33586</a>
                    </p>
                </div>
                
                <div class="mb-3">
                    <p><strong>WhatsApp:</strong> 
                        <a href="https://wa.me/919253033586" target="_blank" class="btn btn-success btn-block">Chat with Us on WhatsApp</a>
                    </p>
                </div>
                
                <div class="mb-3">
                    <p><strong>Address:</strong> 
                        <span class="text-muted">D 1049, Panipat Refinery Township, Panipat, Haryana, India, 132 140</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
