DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
AUTH_SECRET=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
PHONEPE_MERCHANT_ID=
PHONEPE_SECRET_KEY=
PHONEPE_SALT_INDEX=1
NEXT_PUBLIC_BASE_URL=https://tanujasbatterhouse.vercel.app
