{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to <strong>CaterMate</strong>, where we bring authentic, flavorful South Indian cuisine to your doorstep. Born from a passion for traditional cooking and a commitment to quality, CaterMate started as a humble family-run kitchen, driven by a desire to share the rich culinary heritage of South India. We believe that food should not only nourish the body but also evoke a sense of warmth and nostalgia, reminding us of family meals and home-cooked goodness. At CaterMate, we are dedicated to creating an authentic dining experience that emphasizes freshness, quality, and the delicate art of South Indian flavors.</p>
    
            <p>Our team combines culinary expertise with a modern approach to food delivery, ensuring that you receive delicious, freshly prepared meals with a seamless ordering experience. Our menu offers a curated selection of South Indian staples—from soft, fluffy steamed idlis to flavorful chutneys and perfectly spiced sambhar. Each item on our menu is crafted with care, using high-quality ingredients sourced locally to ensure every bite captures the true essence of South Indian cuisine. With meticulous attention to detail and a love for cooking, we prepare each dish to perfection, so you can enjoy the comfort of a home-cooked meal wherever you are.</p>
            
            <p>At CaterMate, we understand the importance of convenience, especially in today’s busy world. Our easy-to-use online platform allows you to explore our menu, place your order, and make secure payments through Razorpay—all from the comfort of your home. We are constantly evolving to meet your needs, offering flexible ordering options, a transparent kitchen view for tracking orders, and a detailed packaging bay to ensure every meal is prepared and delivered with care. Whether you’re ordering for a family meal, a special occasion, or just because you’re craving something wholesome and authentic, we’re here to make every dining experience memorable. Thank you for choosing CaterMate, where tradition meets convenience, and every meal feels like home.</p>        
        </div>
    </div>
</div>
{% endblock content %}